.container{
    background-image: url("../public/default_wallpaper.webp");
}

.wrapper {
    width: 350px;
    height: 100vh;
    background-color: white;
  }
  
  .createRoomWrapper {
    padding: 0.5rem 0 1rem 0;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
  }
  
  .createRoomWrapper button,
  .createRoomWrapper input {
    width: 90%;
    padding: 0.3rem;
    text-align: center;
    border-radius: 5px;
    border: none;
    background-color: #E8EAED;
    line-height: 25px;
  }
  
  .createRoomWrapper input {
    margin-bottom: 0.5rem;
  }

  .roomListWapper{
     display: flex; 
    justify-content: center;
  }
  
  .roomList {
    width: 90%;
    list-style: none;
    padding: 0;
  }
  
  .roomList button {
    width: 100%;
    height: 100%;
    background-color: transparent;
    cursor: pointer;
    border-top:none;
    border-left: none;
    border-right: none;
    border-bottom: none;
    padding: 10px;
    color: black;
    text-align: left;
  }
  .roomList button:disabled {
    background-color: #E8EAED;
    cursor: default;
  }
  .buttonInnerWrapper{
    display: flex;
    align-items: center;
  }

  .buttonText{
    margin-left: 20px;
    font-size: 18px;
  }